<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331970534605-fguu4vtm2h0u9mfdorfaiq9cpkbs2dvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331970534605-fguu4vtm2h0u9mfdorfaiq9cpkbs2dvg</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Za2Wpw_oNeZFhmc_ilR4GdHmUGLtcn0</string>
	<key>GCM_SENDER_ID</key>
	<string>331970534605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ocrDemoFirebaseMl</string>
	<key>PROJECT_ID</key>
	<string>ocr-demo-f6f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-demo-f6f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331970534605:ios:397859bd4f896a74f6dd84</string>
</dict>
</plist>